<div class="form-container">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <h3></h3>
    <div class="field">
      <label for="">First Name:</label>
      <input type="text" formControlName="firstName">
    </div>
    <div class="field">
      <label for="">Last Name:</label>
      <input type="text" formControlName="lastName">
    </div>
    <div class="address" formGroupName="address">
      <h3>Address</h3>
      <label for="street">Street:</label>
      <input type="text" formControlName="street">

      <label for="city">City:</label>
      <input type="text" formControlName="city">

      <label for="state">State:</label>
      <input type="text" formControlName="state">

      <label for="zip">Zip:</label>
      <input type="text" formControlName="zip">
    </div>    
    <button class="btn-submit" type="submit" [disabled]="!profileForm.valid">Save Profile</button>   
    
    </form>   
    <div class="content"><p>Form Value: {{ profileForm.value | json }}</p></div>
    <div class="content"><p>Form Status: {{ profileForm.status }}</p></div>      
</div>





 

