<div class="form-container">
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <h3></h3>
    <div class="field">
      <label for="">First Name:</label>
      <input type="text" formControlName="firstName">
    </div>
    <div class="field">
      <label for="">Last Name:</label>
      <input type="text" formControlName="lastName">
    </div>
    
    <div class="address" formGroupName="address">
      <h3>Address</h3>
      <label for="street">Street:</label>
      <input type="text" formControlName="street">

      <label for="city">City:</label>
      <input type="text" formControlName="city">

      <label for="state">State:</label>
      <input type="text" formControlName="state">

      <label for="zip">Zip:</label>
      <input type="text" formControlName="zip">
    </div>    

    <div formArrayName="aliases">
      <h3>Aliases:</h3>
      <button type="button" (click)="addAlias()">+ Add another Alias</button>
      <div *ngFor="let alias of aliases.controls; let i =index">
        <label for="alias-{{i}}">Alias:</label>
        <input type="text" id="alias-{{i}}" [formControlName]="i" >
      </div>
    </div>

    <button class="btn-submit" type="submit" [disabled]="!profileForm.valid">Submit</button>   
    
    </form>   
    <div class="content"><button class="btn-submit" type="button" (click)="updateProfile()">Update Profile</button></div>
    
    <div class="content"><p>Form Value: {{ profileForm.value | json }}</p></div>
    <div class="content"><p>Form Status: {{ profileForm.status }}</p></div>      
</div>





 

