.name-prompt {
  padding: 20px;
  
}

.name-prompt input {
  width: 25%;
  background-color: white;
  border: none;
  font-size: 30px; 
 
}

.entered-name {
  color:indigo;
  padding: 20px;
  font-size: 30px;
}

.btn-update {
  padding: 10px;
  background-color: rgb(210, 241, 210);
  color: black;
  border-radius: 15px;
  cursor: pointer;
}